PORT=3000
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=your_password
DB_NAME=yourDBname

COOKIE_SECRET=
OTP_TOKEN_SECRET=
ACCESS_TOKEN_SECRET=
PHONE_TOKEN_SECRET=
EMAIL_TOKEN_SECRET=
USERNAME_TOKEN_SECRET=

